<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <div>
    <h1 class="text-center">hola</h1>
  </div>
  <app-interpolacion/>
  <app-padre/> -->
  <!-- <div class="container text-center ">
    <h1 class="text-info">{{titulo}}</h1>
    <app-listado-productos></app-listado-productos>
  </div> -->
  <!-- <app-hijo-o/> -->
   <!-- <app-mostrar-mesanje/> -->

   <!-- <app-replicador/> -->
   <!--  <app-saludar/> -->
     <!-- <app-suma/> -->
  <!--     <app-component-if/> -->
   <!--     <app-agregar-tarea/> -->
        <app-componente-for/>
</body>
</html>